html {
    background-color: rgb(241, 183, 116);
    font-size: 18px;
}

body {
    margin: 0 10%;
}

header, footer {
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 6px solid rgb(39, 151, 39);
    border-radius: 10px;
    background-color: rgb(61, 240, 61);
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 0 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 2rem;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border: 6px solid rgb(39, 151, 39);
    border-radius: 7px;
    color: rgb(165, 88, 152);
    font-size: 1.2rem;
    background-color: rgb(61, 240, 61);
}

#schedule-nav a {
    box-shadow: 0 0 10px 10px lightsteelblue;
}

nav li::after {
    content: "-";
    color: black;
    padding: 0.5rem;
}

nav li:last-child::after {
    display: none;
}

nav a:hover {
    background-color: blue;
    color: white;
}

nav a:active {
    color: red;
    background-color: aquamarine;
}

.big-photo {
    margin: 0 auto;
    height: 1000px;
    overflow: hidden;
    background-image: url('./images/benjamin-lehman-qwIeh5M8bF8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
}

.slogan {
    font-family: Sacramento, cursive, serif;
    font-size: 70px;
    font-weight: 500;
    color: rgb(165, 88, 152);
    text-justify: left;
    text-shadow: 1px 1px 3px black;
    margin-top: 70px;
    margin-left: 50px;
}

.mission{
    font-family: 'Hepta Slab', serif;
}

.mission h2 {
    font-size: 3rem;
    text-align: center;
}

.mission ul {
    list-style: inside none;
    padding-inline-start: 0;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
}

.mission li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    height: 1000px;
    min-width: 700px;
    margin-bottom: 0.25rem;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(39, 151, 39);
}

.mission h3 {
    margin: 0;
    text-align: center;
    color: rgb(165, 88, 152);
    position: relative;
    bottom: 20%;
    background-color: rgba(61, 240, 61, 0.7);
    border-radius: 5px;
}

#clean {
    background-image: url("./images/boney-dHIRbh9En6I-unsplash.jpg");
}

#size {background-image: url("./images/reba-spike-nAedTCXPdeg-unsplash.jpg");}

#breed {background-image: url("./images/autri-taheri-TTGSZSElkOI-unsplash.jpg");}

#radio {background-image: url("./images/krys-amon-ttv1pX6tk7o-unsplash.jpg");}

#dj {background-image: url("./images/muhammadh-saamy-GO1i2timuug-unsplash.jpg");}

/*
.crew {
    font-family: ;
    font-size: ;
}
*/
.crew-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    overflow: hidden;
}

.crew-member {
    height: 500px;
    min-width: 400px;
    border: 1px solid black;
}

.crew-member img {
    height: 90%;
    width: 90%;
}