html {
    background-color: rgb(241, 183, 116);
    font-size: 18px;
}

body {
    margin: 0 10%;
}

header, footer {
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 6px solid rgb(39, 151, 39);
    border-radius: 10px;
    background-color: rgb(61, 240, 61);
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 0 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 2rem;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border: 6px solid rgb(39, 151, 39);
    border-radius: 7px;
    color: rgb(165, 88, 152);
    font-size: 1.2rem;
    background-color: rgb(61, 240, 61);
}

#schedule-nav a {
    box-shadow: 0 0 10px 10px lightsteelblue;
}

nav li::after {
    content: "-";
    color: black;
    padding: 0.5rem;
}

nav li:last-child::after {
    display: none;
}

nav a:hover {
    background-color: blue;
    color: white;
}

nav a:active {
    color: red;
    background-color: aquamarine;
}

.big-photo {
    margin: 0 auto;
    height: 1000px;
    overflow: hidden;
    background-image: url('./images/benjamin-lehman-qwIeh5M8bF8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
}

.slogan {
    font-family: Sacramento, cursive, serif;
    font-size: 70px;
    font-weight: 500;
    color: rgb(165, 88, 152);
    text-justify: left;
    text-shadow: 1px 1px 3px black;
    margin-top: 70px;
    margin-left: 50px;
}

.mission{
    font-family: 'Hepta Slab', serif;
}

.mission h2 {
    font-size: 2.5rem;
}

.mission ul {
    list-style: inside none;
    padding-inline-start: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.mission li {
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    height: 500px;
    margin-bottom: 5px;
    background-size: cover;
}

.mission h3 {
    margin: 0;
    text-align: center;
}

#clean {
    background-image: url("./images/boney-dHIRbh9En6I-unsplash.jpg");
}