html{
    background-color: #111;
    color: #888;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
header{
	display: flex;
	justify-content: space-between;
}
header h1{
    display: inline-block;
    text-align: center;
	font-size: 2.25rem;
}
nav{
    display: inline-block;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
	margin-right: 4px;
	border: 1px solid #888;
	border-radius: 2px;
    padding: 3px;
    color: #888;
    text-decoration: none;
}
main h2{
	font-size: 1.5rem;
}
main ul{
	border: 2px dotted #888;
	border-radius: 2px;
}
footer{
	position: absolute;
	bottom: 1%;
}